body{
  height: 100vh;
}
  .hero {
    position: relative;
    width: 100%;
  }

  .hero img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:gold;
    text-align: center;
  }

.menu-wrapper{
    display: flex;
    flex-direction: column;
    height:50px;

}
.menu{
    display: flex;
    flex:1;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}
.menu a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 15px;
}
.responsive-img{
    width: 100%;
    height: auto;
border-radius: 50%;
}
@media(min-width:768px){
    .menu-wrapper{
        flex-direction: row;
    }
}
 #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

  /* Circle spinner */
  .spinner {
      width: 60px;
    height: 60px;
    border: 6px solid #ddd;
    border-top: 6px solid #ddd;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    
  }
@keyframes slide {
  0%,33%{transform:translateX(0);}
  34%,66%{transform:translateX(-300px);}
  67%,100%{transform:translateX(-600px);}
}
  @keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
  }

  /* Hide main content initially */
  #content {
    display: none;
    padding: 50px;
    text-align: center;
    font-size: 24px;
  }